extends ../../BASE.pug

block main
    form(action=`/posts/${postDB._id}` method="POST")#form
        div.form-sizer
            div.form-display
                div.post_div
                    label(for="username") 닉네임
                    input(type="text" id="username" name="username" value=`${postDB.ownerId.username}` disabled)
                    label(for="userId") 아이디
                    input(type="text" id="userId" name="userId" value=`${postDB.ownerId.userid}` disabled)
                if messages.postDB
                    div.post_div
                        label(for="posttitle") 게시글 제목
                        input(type="text" id="posttitle" name="posttitle" required minLength=1 value=`${messages.posttitle}` placeholder=`원제목 / ${messages.posttitle}`)
                    div.post_div
                        label(for="posttext") 게시글 내용
                        textarea(id="posttext" name="posttext", cols="30", rows="10" required minLength=1 maxlength=1000 placeholder=`원내용 / ${messages.posttext}`) #{messages.posttext}
                else
                    div.post_div
                        label(for="posttitle") 게시글 제목
                        input(type="text" id="posttitle" name="posttitle" required minLength=1 value=`${postDB.posttitle}` placeholder=`원제목 / ${postDB.posttitle}`)
                    div.post_div
                        label(for="posttext") 게시글 내용
                        textarea(id="posttext" name="posttext", cols="30", rows="10" required minLength=1 maxlength=1000 placeholder=`원내용 / ${postDB.posttext}`) #{postDB.posttext}
                
                if loggedIn
                    if loggedInUser._id === String(postDB.ownerId._id)
                        div.post_text_length
                            span 0
                            span /
                            span 1,000 자
                        //- profile.js 를 위한 이름
                        button(style="grid-column: span 3;")#form_submit 수정하기
                        if messages.postDB
                            a(style="grid-column: span 3;" href=`/posts/${messages._id}/remove`) 삭제하기
                        else
                            a(style="grid-column: span 3;" href=`/posts/${postDB._id}/remove`) 삭제하기
                        
                if messages.error
                    span=messages.error

    script(src="/assets/js/postEdit.js")
    script(src="/assets/js/postWrite.js")